@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, retro, cyberpunk, valentine, aqua;
}

/* Cyber punk and retrio templetes here! */
.bg-gray-50 {
  background-color: var(--fallback-b1, initial) !important;
  background-color: rgb(var(--b1) / var(--tw-bg-opacity, 1)) !important;
}

.text-gray-900 {
  color: var(--fallback-bc, initial) !important;
  color: rgb(var(--bc) / var(--tw-text-opacity, 1)) !important;
}